.hidden {
  display: none;
}

body {
  background-color: blanchedalmond;
}

h1 {
  text-align: center;
}

.header{
  display: block;
  background: #e4ae94;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: rgb(0, 0, 0);
  padding: 1%;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0);
  font-family: 'Permanent Marker', cursive;
  font-size: 150%;
}


#order-form {
  background-color: rgb(255, 255, 255);
  max-width: 500px;
  margin: 200px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  font-family: 'Dangrek', cursive;
}

#final-order {
  background-color: rgb(255, 255, 255);
  max-width: 500px;
  margin: 200px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  font-family: 'Dangrek', cursive;
  text-align: center;
}
